.line_tree_o2m [data-name=sequence] {
    width: 2% !important;
    max-width: 2% !important;
}
.line_tree_o2m [data-name=py_search_lot_product] {
    width: 6% !important;
    max-width: 6% !important;
}

.line_tree_o2m [data-name=py_lot_id] {
    width: 9% !important;
    max-width: 9% !important;
}

.line_tree_o2m [data-name=product_id] {
    width: 19% !important;
    max-width: 19% !important;
}

.line_tree_o2m [data-name=py_location_product_all_qty_text] {
    width: 5% !important;
    max-width: 5% !important;
}

.line_tree_o2m [data-name=py_location_product_lot_qty_text] {
    width: 5% !important;
    max-width: 5% !important;
}


.line_tree_o2m [data-name=py_box_product_uom_qty] {
    width: 5% !important;
    max-width: 5% !important;
}

.line_tree_o2m [data-name=py_strip_product_uom_qty] {
    width: 5% !important;
    max-width: 5% !important;
}

.line_tree_o2m [data-name=price_unit] {
    width: 5% !important;
    max-width: 5% !important;
}

.line_tree_o2m [data-name=discount] {
    width: 5% !important;
    max-width: 5% !important;
}

.line_tree_o2m [data-name=activity_duration] {
    width: 5% !important;
    max-width: 5% !important;
}

.line_tree_o2m [data-name=price_subtotal] {
    width: 5% !important;
    max-width: 5% !important;
}
.line_tree_o2m .o_list_record_remove_header {
    width: 2% !important;
    max-width: 2% !important;
}
.line_tree_o2m [data-name=qty_at_date_widget] {
    width: 2% !important;
    max-width: 2% !important;
}